% Source - https://tex.stackexchange.com/a/505562
% Posted by Davislor, modified by community. See post 'Timeline' for change history
% Retrieved 2026-06-02, License - CC BY-SA 4.0

\documentclass[10pt,twoside]{book}
\usepackage[
       paperwidth=90mm,
       paperheight=140mm,
       top=0.2in,
       bottom=0.2in,
       inner=10mm,
       outer=4mm,
       showframe=false
]{geometry}

\usepackage[svgnames]{xcolor}
\usepackage[latin, main=english]{babel}
\usepackage{fontspec, microtype, parskip, paracol}

\defaultfontfeatures{Scale=MatchUppercase}
\babelfont{rm}
          [Scale=1.0,
           Language=Default,
           Ligatures={Common, TeX}
          ]{TeX Gyre Schola} % Or your font of choice.

\newfontfamily\symbolfont{DejaVu Sans}

\setlength\columnseprule{0.4pt}
\setlength\columnsep{1em}
\columnratio{0.6}
\sloppy

\newcommand\kom[1]{ {\vspace{0.2cm}\begin{center}\footnotesize \color{red} #1 \end{center}}}
\newcommand\propertitle[1]{\small \color{red} #1 }
\newcommand{\+}{ {\symbolfont\symbol{"2720}}} % Maltese cross.


\newcommand\chunks[2]{%
\begin{leftcolumn*}\begin{otherlanguage}{english}%
{#1}%
\end{otherlanguage}\end{leftcolumn*}%
\begin{rightcolumn}\begin{otherlanguage}{latin}%
\footnotesize
{#2}%
\end{otherlanguage}\end{rightcolumn}%
}

\begin{document}

\begin{center}
{\LARGE \textbf{\textsc{Holy Mass}}} \\
{\textbf{ ((( date ))) }} \\
{\textbf{ ((( title ))) ((( '(' + rank + ')' ))) }} \\
((* for ct in commemoration_titles *))
Commemoration: ((( ct )))
((* endfor *))
\vspace{0.5cm}
\end{center}

\begin{paracol}{2}
       ((* for prop_en, prop_ln in propers *))
       \chunks{\propertitle{\textbf{ ((( prop_en['label'] ))) }}}{\propertitle{\textbf{ ((( prop_ln['label'] ))) }}}
       \chunks{ ((( prop_en['body'] ))) }{ ((( prop_ln['body'] ))) }
       ((* endfor *))
\end{paracol}

\end{document}
